
  .alert-list{
    ul li {
      font-size: 0.9em;
      list-style: square;
    }
  }
  
  .cart_button{
      display:inline;
      float:right;
   }
   
   .field_with_errors{

   }

  .very-small-btn {
    border-radius: 1px;
    line-height:1.2;
    font-size:10px;
    padding: 1px 2px;
  }
  
  .form-control {
    width:90%;
  }
