// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  
   img {
     width: 100px;
     margin-right: 5px;
     margin-bottom: 5px;
     float:left;
   }
   
   .productPrice {
      font-weight:bold;
      font-size: 1.1em;
      display:inline;
   }
   
   .productFooter {
      position:absolute;
      min-width:150px;
      right:20px;
      bottom:20px;
      height:35px;
      display:inline;
   }
   .button_to{
      display:inline;
      float:right;
   }

  .cart_button{
      display:inline;
      float:right;
   }
   .productTile {
      height:220px;
   }
}
